<div class="container mx-auto pt-8 p-8">
  <%= render "partials/mainnav" %>

  <h1 class="h1">New Blog Post</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Back', blogs_path %>


</div>

<%= render "partials/footer" %>
