<footer class="pin-b">
  <div class="w-full bg-teal p-6">
    <div class="flex">
      <div class="w-1/2">
        <h5 class="text-yellow text-lg font-light">The Gin Detective</h5>
        <p class="text-yellow font-light font-serif italic">Bringing you news and reviews from the world of gin.</p>
      </div>
      <div class="w-1/2">
      <h5 class="text-white text-lg">Links</h5>
        <ul class="list-reset">
          <li><%= link_to 'About', "/pages/about", class: "text-white" %></li>
          <li><%= link_to 'FAQ', "/pages/faq", class: "text-white" %></li>
          <li><%= link_to 'Privacy', "/pages/privacy", class: "text-white" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-teal-dark p-6">
    <span class="text-yellow font-hairline text-sm tracking-wide"> © 2018 Copyright Happy Drinking</span>
  </div>
</footer>
