<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Gin Detective</h5>
        <p class="yellow-text text-lighten-1">Bringing you news and reviews from the world of gin.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to 'About', "/pages/about", class: "yellow-text text-lighten-1" %></li>
          <li><%= link_to 'FAQ', "/pages/faq", class: "yellow-text text-lighten-1" %></li>
          <li><%= link_to 'Privacy', "/pages/privacy", class: "yellow-text text-lighten-1" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright
    <a class="grey-text text-lighten-4 right" href="#!">Happy Drinking</a>
    </div>
  </div>
</footer>
