<%= form_with(model: distillery, local: true, multipart: true) do |form| %>
  <% if distillery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(distillery.errors.count, "error") %> prohibited this distillery from being saved:</h2>

      <ul>
      <% distillery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
