<%= render "partials/mainnav" %>
<div class="container">
<h1>New Distillery</h1>

<%= render 'form', distillery: @distillery %>

<%= link_to 'Back', distilleries_path %>


</div>

<%= render "partials/footer" %>
